pipeline/MultipleTableCopy.json
{
	"name": "MultipleTableCopy",
	"properties": {
		"activities": [
			{
				"name": "LookupTableName",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select name from sys.tables t where schema_name(t.schema_id) = 'dbo'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupTableName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupTableName').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false
							},
							"outputs": [
								{
									"referenceName": "Incremental_Demo_Sink_Table",
									"type": "DatasetReference",
									"parameters": {
										"DBName": {
											"value": "@pipeline().parameters.DBName",
											"type": "Expression"
										},
										"SchemaName": {
											"value": "@pipeline().parameters.SchemaName",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"DBName": {
				"type": "string",
				"defaultValue": "MultipleTableCopy_Demo"
			},
			"SchemaName": {
				"type": "string",
				"defaultValue": "dbo"
			}
		},
		"variables": {
			"table_name_variable": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Demo/MultipleTableCopy"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-22T03:24:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}