pipeline/wen_lncremental.json
{
	"name": "wen_lncremental",
	"properties": {
		"activities": [
			{
				"name": "LookupOldWaterMarkActivity",
				"description": "OldMark旧表",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from watermarktable where TableName = ''',pipeline().parameters.TableName,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Watemark_DataSet",
						"type": "DatasetReference",
						"parameters": {
							"DBName": "Incremental_Demo",
							"SchemaName": "dbo",
							"TableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "IncrementalCopyActivity",
				"description": "采集增量数据",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupOldWaterMarkActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupNewWaterMarkActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from ',pipeline().parameters.TableName,'where Creationtime>''', activity('LookupOldWaterMarkActivity').output.firstRow.WatermarkValue,''' and Creationtime <= ''', activity('LookupNewWaterMarkActivity').output.firstRow.NewWaterMarkValue,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Incremental_Demo_Source_Table",
						"type": "DatasetReference",
						"parameters": {
							"DBName": "Incremental_Demo",
							"SchemaName": "dbo",
							"TableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Incremental_Demo_Sink_Table",
						"type": "DatasetReference",
						"parameters": {
							"DBName": "Incremental_Demo",
							"SchemaName": "dbo",
							"TableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "LookupNewWaterMarkActivity",
				"description": "WaterMark的新标记",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat('select MAX(Creationtime) as NewWaterMarkValue from ',pipeline().parameters.TableName)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Incremental_Demo_Source_Table",
						"type": "DatasetReference",
						"parameters": {
							"DBName": "Incremental_Demo",
							"SchemaName": "dbo",
							"TableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Stored proceduretoWriteWatermarkActivity",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "IncrementalCopyActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@activity('LookupNewWaterMarkActivity').output.firstRow.NewWatermarkvalue",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "guyinsql",
					"type": "LinkedServiceReference",
					"parameters": {
						"DBName": "Incremental_Demo"
					}
				}
			}
		],
		"parameters": {
			"TableName": {
				"type": "string"
			}
		},
		"variables": {
			"TableName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Ford/SCAV+ Training"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-23T01:56:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}