pipeline/xmaoTest.json
{
	"name": "xmaoTest",
	"properties": {
		"activities": [
			{
				"name": "LookupWartMarkSouce",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from watermarktable where TableName  = ''',pipeline().parameters.TableName,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "xmao_Watemark_Dataset",
						"type": "DatasetReference",
						"parameters": {
							"DBName": "Incremental_Demo",
							"SchemaName": "dbo",
							"TableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "LookupNewWartmak",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat('select MAX(Creationtime) as NewWatermarkvalue from ', pipeline().parameters.TableName)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "xmao_Incremental_Source_Table",
						"type": "DatasetReference",
						"parameters": {
							"DBName": "Incremental_Demo",
							"SchemaName": "dbo",
							"TableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Copy_Incremental_Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupWartMarkSouce",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupNewWartmak",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from ',pipeline().parameters.TableName,' where Creationtime>''',activity('LookupWartMarkSouce').output.firstRow.WatermarkValue,''' and Creationtime <= ''',activity('LookupNewWartmak').output.firstRow.NewWatermarkvalue,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "xmao_Incremental_Source_Table",
						"type": "DatasetReference",
						"parameters": {
							"DBName": "Incremental_Demo",
							"SchemaName": "dbo",
							"TableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "xmao_incremental_sink_table",
						"type": "DatasetReference",
						"parameters": {
							"DBName": "Incremental_Demo",
							"SchemaName": "dbo",
							"TableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy_Incremental_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@activity('LookupNewWartmak').output.firstRow.NewWatermarkvalue",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "guyinsql",
					"type": "LinkedServiceReference",
					"parameters": {
						"DBName": "Incremental_Demo"
					}
				}
			}
		],
		"parameters": {
			"TableName": {
				"type": "string",
				"defaultValue": "project_table"
			}
		},
		"folder": {
			"name": "Ford/SCAV+ Training/XMAO"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-22T10:12:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}